name: GitHub Actions Demo
run-name: My checks
on: [push]
jobs:
  My checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Code compilation
        run: |
          cd src/main/java
          javac App.java
